.Menu{
   
    display: flex;
    justify-content: space-around;
    gap: 20px;
    cursor: pointer;
   
    
}

.Menu > a{
    text-decoration: none;
    width: 5em;
    color: #524a37;
    
    transition: color font-weight 0.4s ease-in-out;
}
.Menu > a:hover{
    color: #000;
   
}

.Icons{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    cursor: pointer;
}
.Icons>a{
    color: #524a37;
}
.Icons>a:hover{
    color: #000;
}