.Principal{
    display: flex;
    justify-content: space-between;
    width: 65%;
    gap: 20px;
    padding: 0 2em;
}

.img-container {
   display: grid;
   place-items: center;
   width:100%;
   padding-left: 7em;
   
}

.img-container > img{
    display: inherit;
    width: 35em;
    min-width: 300px;
    height: auto;
}

