#root {
  width: 100%;
  margin: 0 auto;
 text-align: center;
 }

 .MainPreview{
  display: flex;
 box-sizing: border-box;
 justify-content: space-between;
 background-color: #fff;
 width: 80%;
 height: 80%;
 border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  padding: 15px 20px;
  gap: 30px;
 
 }
